

.background{
    background-color: rgb(0, 140, 255);
    padding: 0;
    border: 0px;
    margin: 0px;
}

.gradbg {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 500%;
    height: 100vh;
    margin: 0;
	animation: gradient 25s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.left_content{
    float: left;
}
.right_content{
    float: right;
    text-align: right;
}

.profile{
    margin-right: 50px;
    margin-top: 20px;
    padding: 5px;
    max-width: 50%;
    float: right;
    text-align: right;
    background-color: #ffffff1f;
}

.titlelarge{
    margin-top: 1px;
    font-size: 100px;
    text-transform: uppercase;
    margin-bottom: 1px;
}

.titletext{
    margin-top: 1px;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 1px;
}

.title{
    text-transform: uppercase;
    font-size: 40px;
}


.left_bar{
    float: left;
    width: 27%;
    height: 100vh;
    padding: 0px;
    margin: 0;
    position: absolute;
    background-color: rgb(61, 61, 61);
    z-index: -1;
}


.button{
    background-color: #ffffff00; 
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    z-index: 20;
}

.button:hover{
    background-color: rgb(43, 43, 43);
    color: white;
}

.center{

    margin: auto;
    text-align: center;
}

.fixed{
    position: fixed;
    max-height: 100%;
}

.ontop{
    text-align: center;
    z-index: 1;

}

body{
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
    font-size: 15px;
}