

.background{
    background-color: rgb(0, 140, 255);
    padding: 0;
    border: 0px;
    margin: 0px;
}

.gradbg {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 500%;
    height: 100vh;
    margin: 0;
	animation: gradient 25s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.left_bar{
    float: left;
    width: 35%;
    height: 100vh;
    padding: 0px;
    margin: 0;
    position: absolute;
    background-color: rgb(61, 61, 61);
    z-index: -1;
}


.button{
    background-color: #ffffff00; 
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    z-index: 2;
}

.button:hover{
    background-color: rgb(43, 43, 43);
    color: white;
}

.center{

    margin: auto;
    text-align: center;
}

.fixed{
    position: fixed;
}

.ontop{

    text-align: center;
    z-index: 1;

}
.containter{

}

body{
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
    font-size: 15px;
}

.title{
    font-size:30px;
    font-weight: bold;
    text-transform: uppercase;
}