.testbg {
    background-color: rgb(227, 210, 255);

}

.button{
    background-color: #6382bb; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.center{
    margin:auto;
    text-align: center;
}

.containter{

}

body{
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
    font-size: 15px;
    background-color: #FAFAFA;
}

.title{
    font-size:30px;
    font-weight: bold;
    text-transform: uppercase;
}