.testbg {
    background-color: rgb(227, 210, 255);

}

.button{
    background-color: #6382bb; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}