

.testbg {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 500%;
    height: 100vh;
    margin: 0;
	animation: gradient 25s ease infinite;
}

.recombg{
    background: linear-gradient(-45deg, #8f4731, #88244a, #12536b, #116451);
    background-size: 500%;
    height: 100vh;
    margin: 0;
	animation: gradient 25s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container_bar{
    width: 90%;
    margin: 0 auto;
    
}


.button{
    background-color: #ffffff; 
    border: none;
    color: rgb(54, 54, 54);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover{
    background-color: rgb(43, 43, 43);
    color: white;
}

.center{
    margin:auto;
    text-align: center;
}

.containter{

}

body{
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
    font-size: 15px;
    background-color: #FAFAFA;
}

.title{
    font-size:30px;
    font-weight: bold;
    text-transform: uppercase;
}