
<div>
    <div class = 'fixed'>
        <a href="/" class="button">Home</a><br>
        <a href="/randomiser" class="button">Recommend Me!</a><br>
        {% if logged %}
            <a href="/logout" class="button">Logout</a><br>
        {% else %}
            <a href="/login" class="button">Login</a><br>
        {% endif %}
        <a href="/upload" class="button">Upload</a><br>
        <a href="/profile/{{ id }}" class="button">Profile</a><br>
        <a href="/about" class="button">About</a><br>
    </div>

</div>