{% extends 'layout.html' %}
{% block content %}
<body class = "testbg">
    <h2>Please enter your credentials</h2>
    <div>
        <form action="" method="post">
            <label>USERNAME</label><br>
            <input name="username" type="text" id="username"><br>
            <label>PASSWORD</label><br>
            <input name="password" type="password" id="password"><br>
            {%if error%}
                <p class="error"><strong>Error:</strong> {{ error }}</p>
            {% endif %}
            <input type="submit" value="Submit">
        </form>
    </div>
</body>


{% endblock %}