{% extends 'layout.html' %}
{% block content %}
<body class = "testbg">
    <h1>Recommendation</h1>
    <div>
        <br>
          <p>
            <!-- sort out spotify and youtube links -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ recommend.songUrl }}?&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br>
            {{ recommend.name }}
            <br>
            Recommended by {{ recommend.username}}
            <br>
            {{ recommend.description }}
            <br>
            <a href="/recommendation/{{ id_song }}" class="button">Recommend me another!</a>
          </p>

        <br>
    </div>
</body>


{% endblock %}